.header {
    background-color: #335289  ;
    color: white;
    font-size: 24px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .header_name{  
    padding-left: 10px;
    margin-top: 10px;
  }
  body {margin:0;}
  
  .navbar {
    overflow: hidden;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  .navbar li{
    list-style-type: none;
    float: left;
    display: block;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  li.active{
    background: #292524;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 10px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.container{
    background-color: #DFD9D5 ;
    margin-top: -30px;
}
.main_contain{
    font-size: 24px;
    margin: 30px;
    text-align: justify;
    margin-bottom: -23px;
}

.contain_header{
    color: #E35336 ;
    text-align: center;
    padding-top: 20px;
}

.main-footer{
    text-align: center;
    background-color: #335289;
    height: 2.5rem;
    font-size: 18px;
    padding-top: 25px;
    color: white;
}

.main-footer a{
    text-decoration: none;
    color: white;
}

.contact-section{
  background: url("bg.jpg") no-repeat center;
  background-size: cover;
  transform:translate(-50%,-50%); 
  width: 100%;
  padding: 40px 0;
  position: absolute;
  margin-top: 25%;
  left: 50%;
}
.form-border{
  border-radius: 25px;
  border: 5px solid #48585F ;
  max-width: 600px;
  margin-left: 30%;
  
 
}

.contact-section h1{
  text-align: center;
  color: #ddd;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: transparent;
  padding: 20px 40px;
  outline: none;
  color: white;
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 10px;
}
.contact-form-btn:hover{
  background: #2980b9;
}

::placeholder{
  color: #959DA0 ;
}